@charset "utf-8";
/* CSS Document */
font.fontprimary {
  font-family:Comfortaa,"Comfortaa Medium";
  color:#00b686;
}
font.fontsecondary {
  font-family:Comfortaa,"Comfortaa Medium";
  color:#f8f9fa;
}

.fontprimary {
  font-family: 'Comfortaa', cursive;
  color:#00b686;
}
.fontsecondary {
  font-family: 'Comfortaa', cursive;
  color:#f8f9fa;
}
.fonttertiary {
  font-family: 'Comfortaa', cursive;
  color:#000;
}
.fonthp:hover {
  transform: scale(1.10);
}
footer {
  font-family: 'Comfortaa', cursive;
  color:#f8f9fa;
}
